body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 8px;
  width: 250px;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 10px 20px;
  background: #38bdf8;
  color: black;
  text-decoration: none;
}
